doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
  body
    div.container.listing-reg
      h1 Form Registration 
      block content
      br
      br
      h5 powered by @testing
